###########################
# Default .gitignore file for Nemo. 
# By default this ignores the lint from the Eclipse IDE.

##################
# Eclipse Output #
##################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

*.lo
*.la
*.lai
*.so.*
*.so
*.o
*.a
*.valid
*.xml
*.pc
*.log
*.before
*.after
*.m4

missing
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
stamp-h1
test-driver
autom4te.cache
compile

Makefile
Makefile.in

config.*
!config.h.in
configure

data/*.desktop.in
data/*.desktop
data/*.service

debian/tmp/*
debian/nemo/*
debian/nemo-dbg/*
debian/nemo-data/*
debian/libnemo-extension*/*
debian/gir1.2*/*

debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/gir1.2-nemo-3.0.install
*.substvars
*.debhelper

docs/reference/libnemo-extension/*

eel/check-program

libnemo-extension/Nemo-3.0.*
libnemo-private/*.valid
libnemo-private/*.xml
libnemo-private/.libs
libnemo-private/nemo-generated.*

po/.intltool-merge-cache
po/POTFILES
po/stamp-it

src/nemo-freedesktop-generated.*
src/nemo-resources.*
src/.libs
src/Makefile
src/Makefile.in
src/nemo
src/nemo-autorun-software
src/nemo-connect-server
src/nemo-convert-metadata
src/nemo-extensions-list
src/nemo-open-with
src/nemo-desktop
src/org.nemo.root.policy

test/.libs
test/test-eel-editable-label
test/test-nemo-copy
test/test-nemo-directory-async
test/test-nemo-search-engine
