ChangeLog
INSTALL
Makefile
Makefile.in
*~
*.a
*.o
*.la
*.lo
*.exe
*.tar.xz
.deps
.libs
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.h.win32
config.log
config.status
config.guess
config.sub
configure
libtool
intltool-*.in
depcomp
ltmain.sh
install-sh
missing
mkinstalldirs
stamp-h1
core.*
core
compile
gtk-doc.make
*.pc
*.desktop
*.desktop.in
*.schemas
*.typelib
*.gir
m4
