[Desktop Entry]
Name=Home Folder
Comment=Open your personal folder
Exec=nemo %U
Icon=folder
Terminal=false
StartupNotify=false
Type=Application
OnlyShowIn=GNOME;Unity;
Categories=GNOME;GTK;Core;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nemo
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.0.0
X-Ubuntu-Gettext-Domain=nemo
Actions=Window;

[Desktop Action Window]
Name=Open a New Window
Exec=nemo
OnlyShowIn=Unity;
