#!/usr/bin/make -f

CONFIGURE_EXTRA_FLAGS = \
	--prefix=/usr \
	-D deprecated_warnings=false \
	-D gtk_doc=true \
	-D selinux=false

export LDFLAGS+=-Wl,-z,defs -Wl,-O1 -Wl,--as-needed


%:
	dh $@ --parallel --with gir

override_dh_auto_configure:
	mkdir -p build
	meson build $(CONFIGURE_EXTRA_FLAGS)

override_dh_auto_build:
	ninja -C build

override_dh_auto_test:
	# ninja -C build test

override_dh_strip:
	dh_strip --dbg-package=nemo-dbg

override_dh_auto_install:
	DESTDIR=${CURDIR}/debian/tmp \
	ninja -C build install

override_dh_makeshlibs:
	dh_makeshlibs -Xusr/lib/nemo/extensions-3.0/

override_dh_installmime:
	dh_installmime -pnemo-data

