[Desktop Entry]
Name=Files
Name[ar]=الملفات
Name[as]=নথিপত্ৰসমূহ
Name[ast]=Ficheros
Name[be]=Файлы
Name[bg]=Файлове
Name[bn]=ফাইল
Name[ca]=Fitxers
Name[ca@valencia]=Fitxers
Name[crh]=Dosyeler
Name[cs]=Soubory
Name[da]=Filer
Name[de]=Dateien
Name[en_CA]=Files
Name[en_GB]=Files
Name[eo]=Dosieroj
Name[es]=Archivos
Name[et]=Failid
Name[eu]=Fitxategiak
Name[fa]=پرونده‌ها
Name[fi]=Tiedostot
Name[fr]=Fichiers
Name[ga]=Comhaid
Name[gl]=Ficheiros
Name[gu]=ફાઇલો
Name[he]=קבצים
Name[hi]=फ़ाइल
Name[hu]=Fájlok
Name[id]=Berkas
Name[it]=File
Name[ja]=ファイル
Name[kn]=ಕಡತಗಳು
Name[ko]=파일
Name[lt]=Failai
Name[lv]=Faili
Name[mk]=Датотеки
Name[ml]=ഫയലുകള്‍
Name[mr]=फाइल्स्
Name[nb]=Filer
Name[nl]=Bestanden
Name[nn]=Filer
Name[or]=ଫାଇଲଗୁଡିକ
Name[pa]=ਫਾਇਲਾਂ
Name[pl]=Pliki
Name[pt]=Ficheiros
Name[pt_BR]=Arquivos
Name[ro]=Fișiere
Name[ru]=Nemo
Name[sk]=Súbory
Name[sl]=Datoteke
Name[sr]=Датотеке
Name[sr@latin]=Datoteke
Name[sv]=Filer
Name[ta]=கோப்புகள்
Name[te]=ఫైళ్ళు
Name[th]=แฟ้ม
Name[tr]=Dosyalar
Name[ug]=ھۆججەتلەر
Name[uk]=Файли
Name[vi]=Tập tin
Name[zh_CN]=文件
Name[zh_HK]=檔案
Name[zh_TW]=檔案
Comment=Access and organize files
Comment[ar]=نظم الملفات وصِل إليها
Comment[as]=প্ৰবেশাধিকাৰ লওক আৰু নথিপত্ৰসমূহ আয়োজিত কৰক
Comment[ast]=Acceder a los ficheros y organizalos
Comment[be]=Доступ і кіраванне файламі
Comment[bg]=Достъп и управление на файлове
Comment[bn]=ফাইলে ব্যবাহর এবং সাজানো
Comment[ca]=Organitzeu i accediu a fitxers
Comment[ca@valencia]=Organitzeu i accediu a fitxers
Comment[crh]=Dosyelerge iriş ve olarnı tertiple
Comment[cs]=Přístup a organizace souborů
Comment[da]=Tilgå og organisér filer
Comment[de]=Auf Dateien zugreifen und diese organisieren
Comment[en_CA]=Access and organize files
Comment[en_GB]=Access and organise files
Comment[eo]=Atingi kaj organizi dosierojn
Comment[es]=Acceder a los archivos y organizarlos
Comment[et]=Ligipääs failidele ning failipuu korrastamine
Comment[eu]=Atzitu eta antolatu fitxategiak
Comment[fa]=دسترسی و سازماندهی پرونده‌ها
Comment[fi]=Avaa ja järjestä tiedostoja
Comment[fr]=Accéder aux fichiers et les organiser
Comment[gl]=Acceda e organice ficheiros
Comment[gu]=ફાઇલોને વાપરો અને સંચાલિત કરો
Comment[he]=גישה לקבצים וארגונם
Comment[hi]=फ़ाइलों को व्यवस्थित और पहुँच प्राप्त करें
Comment[hu]=Fájlok elérése és rendszerezése
Comment[id]=Mengakses dan mengelola berkas
Comment[it]=Accede ai file e li organizza
Comment[ja]=ファイルの操作や整理をします
Comment[kn]=ಕಡತಗಳನ್ನು ನಿಲುಕಿಸಿಕೊಳ್ಳಿ ಹಾಗು ವ್ಯವಸ್ಥಿತವಾಗಿ ಜೋಡಿಸಿ
Comment[ko]=파일 접근 및 정리
Comment[lt]= 
Comment[lv]=Piekļūt un organizēt failus
Comment[mk]=Пристапувајте и организирајте датотеки
Comment[mr]=फाइल्स्ला प्रवेश द्वया व संघटित करा
Comment[nb]=Aksesser og organiser filer
Comment[nl]=Bestanden gebruiken en organiseren
Comment[nn]=Aksesser og organiser filer
Comment[or]=ଫାଇଲମାନଙ୍କୁ ଅଭିଗମ କରନ୍ତୁ ଏବଂ ସଙ୍ଗଠନ କରନ୍ତୁ
Comment[pa]=ਫਾਇਲਾਂ ਦੀ ਵਰਤੋਂ ਤੇ ਪਰਬੰਧ
Comment[pl]=Organizowanie plików
Comment[pt]=Aceder e organizar ficheiros
Comment[pt_BR]=Acessar e organizar arquivos
Comment[ro]=Accesați și organizați fișiere
Comment[ru]=Управление и доступ к файлам
Comment[sk]=Prístup a organizácia súborov
Comment[sl]=Dostop in razvrščanje datotek
Comment[sr]=Приступите и организујте датотеке
Comment[sr@latin]=Pristupite i organizujte datoteke
Comment[sv]=Kom åt och organisera filer
Comment[ta]=கோப்புகளை அணுகு மற்றும் ஒழுங்கு படுத்து
Comment[te]=ఫైళ్ళను నిర్వహించు మరియు వాడుకొను
Comment[th]=เข้าถึงและจัดระเบียบแฟ้ม
Comment[tr]=Dosyalara erişin ve düzenleyin
Comment[ug]=ھۆججەتلەرنى تەشكىللەش ۋە زىيارەت
Comment[uk]=Доступ до файлів
Comment[vi]=Truy cập và tổ chức tập tin
Comment[zh_CN]=访问和组织文件
Comment[zh_HK]=存取與組織檔案
Comment[zh_TW]=存取與組織檔案
Exec=nemo %U
Icon=folder
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=GNOME;Unity;
Categories=GNOME;GTK;Utility;Core;
MimeType=inode/directory;application/x-gnome-saved-search;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nemo
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=1.0.2
