/* sidebar */

NemoWindow .sidebar .view {
    background-color: #3F3F3F;
    color: #EEEEEE;
    text-shadow: 1px 1px alpha (#000000, 0.8);
}

/* inactive pane */
.nemo-inactive-pane .view {
    background-color: shade(@theme_base_color, 0.9);
}
