.nemo-canvas-item {
    border-radius: 5px;
}

.nemo-desktop.nemo-canvas-item {
    color: @theme_selected_fg_color;
    text-shadow: 1px 1px black;
}

.nemo-desktop.nemo-canvas-item:active {
    color: @theme_text_color;
}

.nemo-desktop.nemo-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nemo-desktop.nemo-canvas-item:active,
.nemo-desktop.nemo-canvas-item:prelight,
.nemo-desktop.nemo-canvas-item:selected {
    text-shadow: none;
}

.nemo-desktop.nemo-canvas-item:selected:backdrop {
    color: @theme_unfocused_selected_fg_color;
}
