.nemo-canvas-item {
    border-radius: 5px;
}

.nemo-desktop.nemo-canvas-item {
    color: @theme_selected_fg_color;
    text-shadow: 1px 1px black;
}

.nemo-desktop.nemo-canvas-item:active {
    color: @theme_text_color;
}

.nemo-desktop.nemo-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nemo-desktop.nemo-canvas-item:active,
.nemo-desktop.nemo-canvas-item:prelight,
.nemo-desktop.nemo-canvas-item:selected {
    text-shadow: none;
}

.nemo-desktop.nemo-canvas-item:selected:backdrop {
    color: @theme_unfocused_selected_fg_color;
}

NemoWindow .sidebar .frame {
    border-style: none;
}

NemoWindow > GtkGrid > .pane-separator,
NemoWindow > GtkGrid > .pane-separator:hover {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: @borders;
    background-color: @sidebar_bg;
    color: shade (@theme_bg_color, 0.9);
}

NemoWindow > GtkGrid > .pane-separator:backdrop,
NemoWindow > GtkGrid > .pane-separator:hover:backdrop {
    border-color: @unfocused_borders;
    background-color: @sidebar_bg_unfocused;
}

NemoNotebook.notebook {
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}

NemoNotebook .frame {
    border-width: 0;
}

NemoToolbar .button {
    icon-shadow: 0 1px @button_text_shadow;
}

NemoToolbar .button:active {
    icon-shadow: 0 1px @button_active_text_shadow;
}

NemoToolbar .button:insensitive,
NemoToolbar .button:active *:insensitive {
    icon-shadow: none;
}

NemoQueryEditor .search-bar.toolbar {
    border-top-width: 0;
    border-bottom-width: 0;
}

NemoQueryEditor .toolbar {
    padding-top: 3px;
    padding-bottom: 2px;

    border-width: 1px 0 0 0;
    border-style: solid;
}

NemoQueryEditor .toolbar:nth-child(2) {
    border-color: @borders;
}

NemoQueryEditor .toolbar:last-child,
NemoQueryEditor .search-bar.toolbar:only-child {
    border-bottom-width: 1px;
    border-bottom-color: @borders;
}

NemoQueryEditor .toolbar:backdrop:nth-child(2) {
    border-color: @unfocused_borders;
}
