/* for nemo-cell-renderer-disk.c */

.nemo-disk-renderer-bg {
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: shade(@theme_bg_color, .65);
}

.nemo-disk-renderer-bg row:selected {
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: shade(@theme_bg_color, 2.0);
}

.nemo-disk-renderer-fg {
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: shade(@theme_selected_bg_color, 1.0);
}

.nemo-disk-renderer-fg row:selected {
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: shade(@theme_fg_color, 2.0);
}

.nemo-inactive-pane .view {
    background-color: shade(@theme_base_color, 0.9);
}

NemoPathbarButton {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     color-stop (0, shade(alpha(@theme_bg_color, 0.8), 1.1)),
                                     color-stop (.3, shade(alpha(@theme_bg_color, 0.8), 1.1)),
                                     color-stop (.7, shade(alpha(@theme_bg_color, 0.8), 0.90)),
                                     color-stop (1, shade(alpha(@theme_bg_color, 0.8), 0.80)));
}

NemoPathbarButton:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     color-stop (0, shade(alpha(@theme_bg_color, 0.8), .8)),
                                     color-stop (.3, shade(alpha(@theme_bg_color, 0.8), .9)),
                                     color-stop (1, shade(alpha(@theme_bg_color, 0.8), 1.0)));
}

NemoPathbarButton:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     color-stop (0, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)),
                                     color-stop (.3, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)),
                                     color-stop (.7, shade(alpha(@theme_selected_bg_color, 0.8), 0.95)),
                                     color-stop (1, shade(alpha(@theme_selected_bg_color, 0.8), 0.85)));
}

NemoPathbarButton:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     color-stop (0, shade(alpha(@theme_selected_bg_color, 0.8), .80)),
                                     color-stop (.3, shade(alpha(@theme_selected_bg_color, 0.8), .95)),
                                     color-stop (1, shade(alpha(@theme_selected_bg_color, 0.8), 1.25)));
}
