/* for breadcrumbs path bar */

.nemo-pathbar-button,
NemoPathbarButton {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     color-stop (0, shade(alpha(@bg_color, 0.8), 1.1)),
                                     color-stop (.3, shade(alpha(@bg_color, 0.8), 1.1)),
                                     color-stop (.7, shade(alpha(@bg_color, 0.8), 0.90)),
                                     color-stop (1, shade(alpha(@bg_color, 0.8), 0.80)));
    border-color: #808080;
    color: @fg_color;
    -NemoPathbarButton-border-radius: 3px;
}

NemoPathbarButton:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     color-stop (0, shade(alpha(@bg_color, 0.8), .8)),
                                     color-stop (.3, shade(alpha(@bg_color, 0.8), .9)),
                                     color-stop (1, shade(alpha(@bg_color, 0.8), 1.0)));
    border-color: #808080;
}

NemoPathbarButton:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     color-stop (0, shade(alpha(@selected_bg_color, 0.8), 1.25)),
                                     color-stop (.3, shade(alpha(@selected_bg_color, 0.8), 1.25)),
                                     color-stop (.7, shade(alpha(@selected_bg_color, 0.8), 0.95)),
                                     color-stop (1, shade(alpha(@selected_bg_color, 0.8), 0.85)));
    border-color: #808080;
}

NemoPathbarButton:active:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     color-stop (0, shade(alpha(@selected_bg_color, 0.8), .80)),
                                     color-stop (.3, shade(alpha(@selected_bg_color, 0.8), .95)),
                                     color-stop (1, shade(alpha(@selected_bg_color, 0.8), 1.25)));
    border-color: #808080;
}


/* For Places Sidebar diskfull indicators */

NemoPlacesTreeView {
    -NemoPlacesTreeView-disk-full-bg-color: shade(@bg_color, .65);
    -NemoPlacesTreeView-disk-full-fg-color: shade(@selected_bg_color, 1.0);
    -NemoPlacesTreeView-disk-full-bar-width: 2px;
    -NemoPlacesTreeView-disk-full-bar-radius: 1px;
    -NemoPlacesTreeView-disk-full-bottom-padding: 1px;
    -NemoPlacesTreeView-disk-full-max-length: 70px;
}

NemoPlacesTreeView:selected {
    -NemoPlacesTreeView-disk-full-bg-color: shade(@bg_color, 2.0);
    -NemoPlacesTreeView-disk-full-fg-color: shade(@fg_color, 2.0);
}

NemoPlacesTreeView:hover {
}

NemoPlacesTreeView:selected:hover {
}